{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Message Display</title>

    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.157.0/build/three.module.js",
                "stl-loader": "https://unpkg.com/three@0.157.0/examples/jsm/loaders/STLLoader.js",
                "orbit-control": "https://unpkg.com/three@0.157.0/examples/jsm/controls/OrbitControls.js"
            }
        }
        </script>
        
    
    <script type="module">
        // Loads 3d model into the scene
        import initializeScript from "{% static 'js/model_loader.js' %}"
        
        const stlFiles = {{stl_files|safe}};
        initializeScript(stlFiles);

      
    </script>
</head>
<body class="bg-gray-100 h-screen">
    <input type="file" id="hiddenMriInput" accept=".nii.gz, .nii" style="display: none;">

    <div class="bg-white shadow p-4">
        <nav class="container mx-auto flex justify-between">
            <a href="#" class="flex items-center space-x-2" id="uploadMriButton">
                <i class="fas fa-upload"></i>
                <span>Upload STL</span>
            </a>
            <a href="#" class="flex items-center space-x-2" id="segmentMri">
                <i class="fas fa-cut"></i>
                <span>Segment</span>
            </a>
            <a href="#" class="flex items-center space-x-2">
                <i class="fas fa-cube"></i>
                <span>Run 3D Slicer</span>
            </a>
            <a href="#" class="flex items-center space-x-2">
                <i class="fas fa-robot"></i>
                <span>Start Robot</span>
            </a>
        </nav>
    </div>
    <div class="container p-2 flex h-full mt-2">
        
        <!-- Left Sidebar -->
        <div class="w-1/4 bg-white p-4 shadow">
            <!-- Place all your left sidebar components here -->
            <button class="mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Button
            </button>
            
            <!-- Other components from the 3D Slicer UI... -->
        </div>
        
        <!-- Right Main Area -->
        <div class="w-3/4">
            <div class="grid grid-cols-2 gap-4 h-full">
                
                    <div class="bg-gray-800 relative w-full pb-full">
                        <!-- Content for this grid item. E.g., Three.js rendering -->
                        <img src="https://via.placeholder.com/150" alt="Placeholder" class="object-cover w-full h-full">

                        
                    </div>
              
               
                    <div id="threejs-container" class="bg-gray-300 relative w-full pb-full">
                        <!-- Content for this grid item. E.g., Three.js rendering -->
                        
                    </div>
              
              
                    <div class="bg-gray-300 relative w-full pb-full">
                        <!-- Content for this grid item. E.g., Three.js rendering -->
                        <img src="https://via.placeholder.com/150" alt="Placeholder" class="object-cover w-full h-full">

                    </div>
               
           
                    <div class="bg-gray-300 relative w-full pb-full">
                        <!-- Content for this grid item. E.g., Three.js rendering -->
                        <img src="https://via.placeholder.com/150" alt="Placeholder" class="object-cover w-full h-full">

                    </div>
                
            </div>
        </div>
    </div>

    <script>
        
        document.getElementById('uploadMriButton').addEventListener('click', triggerFileSelect)
        document.getElementById('segmentMri').addEventListener('click', triggerSegmentMri)


        
        function triggerFileSelect(){
            document.getElementById('hiddenMriInput').click();
        }

        function triggerSegmentMri(){
            console.log('Segmenting file')
            fetch("/segmentMri/",{
                method: 'POST',
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                }
            }).then(response => {
                if(response.ok){
                    console.log('File segmented successfully')
                }else{
                    console.log('Error segmenting file')
                }
            }).catch(error => {
                console.log(error)
            })
        }

        document.getElementById('hiddenMriInput').addEventListener('change', function(){
            if(this.files && this.files[0]){
                uploadFile(this.files[0])
            }
        })

        function uploadFile(file){
            const formData = new FormData();
            formData.append('file', file);

            fetch('/uploadMriFile/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                }
            }).then(response => {
                if(response.ok){
                    alert('File uploaded successfully')
                }else{
                    alert('Error uploading file')
                }
            }).catch(error => {
                console.log(error)
            })
        }
        </script>
</body>

</html>
